@font-face {
  font-family: "varela_roundregular";
  src:
    url("fonts/varelaround-regular-webfont.woff2") format("woff2"),
    url("fonts/varelaround-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --dark-primary: #1f1b24;
  --dark-secondary: #2f2b34;
  --purple: #bb86fc;
  --blue: #34c3be;
  --orange: #f2b138;
}

body {
  font-family: "varela_roundregular", sans-serif;
  background-color: var(--dark-primary);
  color: var(--purple);
  position: relative;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

.player-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  max-width: 750px;
  margin: 0 auto;
}

.player {
  display: flex;
  flex-wrap: wrap;
  gap: .1rem;
  padding: 1rem;
  border-radius: 2rem;
}

.player input,
.player select {
  opacity: .9;
  font: inherit;
  padding: .5rem;
}

.player input[name="name"] {
  flex: 1;
}

.player input[name="marker"] {
  width: 2ch;
  text-align: center;
  font-weight: bold;
}

.player select {
  width: 100%;
  color: black;
}

.player.blue {
  background-color: var(--blue);
}

.player.orange {
  background-color: var(--orange);
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: .5rem;
  font-size: 1.5rem;
  width: 300px;
  margin: 2rem auto;
}

.play input {
  font: inherit;
  text-align: right;
  opacity: .9;
}

.play button {
  font: inherit;
  font-size: 1.5rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: #d63384;
  color: white;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
}

.turn {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 1.5ch;
  margin: 5rem auto 2.5rem;
  padding: 1rem;
  border-radius: .5rem;
  text-align: center;
  background-color: var(--dark-secondary);
  box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
}

.board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  width: min(100%, 500px);
  aspect-ratio: 1;
  margin: 0 auto;
  position: relative;
}

.board::after {
  /* Cover outer border */
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 5px solid var(--dark-primary);;
  pointer-events: none;
}

.cell {
  font: inherit;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--dark-primary);;
  border: 5px solid gray;
  user-select: none;
}

.blue {
  color: var(--blue);
}

.orange {
  color: var(--orange);
}

.blue-hover:hover {
  background-color: color-mix(in srgb, var(--blue), transparent 50%);
}

.orange-hover:hover {
  background-color: color-mix(in srgb, var(--orange), transparent 50%);
}

.win {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 4rem 1rem 0;
}